@import "tailwindcss";

@keyframes pulse {
  0% {
    transform: translate(-8px, -8px) scale(0.8);
    opacity: 0.8;
  }

  70% {
    transform: translate(-8px, -8px) scale(1.3);
    opacity: 0;
  }

  100% {
    transform: translate(-8px, -8px) scale(0.8);
    opacity: 0;
  }
}